<template>
	<div id="sharemover_user_settings" class="section">
		<h2>
			{{ t('sharemover', 'ShareMover') }}
		</h2>
		<div id="sharemover-content">
			<h3>
				{{ t('sharemover', 'The ShareMover App offers settings for auto-transferring received shares based on the mime type (of the file or the content of the folder) to a different directory. The share will not be moved if the destination directory does not exist. If you leave the settings empty, the system defaults will be applied.') }}
			</h3>

			<table>
				<tr>
					<td>
						{{ t('sharemover', 'Specify in the following text fields your configuration and seperate multiple entries by a comma. Valid mime types are e.g. image, video, audio, text, application. ') }}
						<br>
						{{ t('sharemover', 'The first entry in the list has the highest prirotiy if you specify a mime type multiple times') }}
					</td>
				</tr>
				<tr>
					<td>{{ t('sharemover', 'Field 1: A mimetype to check for, e.g. image, video') }}</td>
				</tr>
				<tr>
					<td>{{ t('sharemover', 'Field 2: A destination address for shares which are read-only, e.g. Pictures/shares-read-only, Videos/shares-read-only') }}</td>
				</tr>
				<tr>
					<td>{{ t('sharemover', 'Field 3: A destination address for shares which are not read-only, e.g. Pictures/shares, Videos/shares') }}</td>
				</tr>
			</table>

			<br>
			
			<!-- Those text fields return the values as a string -->
			<input type="text" v-model="state.mimeTypes" placeholder="Mime Types" style="width: 30%;">
    		<input type="text" v-model="state.destinationsReadOnly" placeholder="Destinations Read Only" style="width: 30%;">
	    	<input type="text" v-model="state.destinations" placeholder="Destinations" style="width: 30%;">

			<br>
			<!-- Save Button -->
			<button @click="saveArrays">Save Settings</button>


		</div>
	</div>
</template>

<script>
import { loadState } from '@nextcloud/initial-state'
import axios from '@nextcloud/axios'
import { showSuccess, showError } from '@nextcloud/dialogs'
import { generateUrl } from '@nextcloud/router'


export default {
	name: 'UserSettings',

	props: [],

	// Data is loaded from the php backend and can be used in the template
	data() {
    	// Load initial state from Nextcloud's server-side php data that is provided
		// This data is not the one from the database, instead we are getting the data from the 
		// php script that loaded this vue component
		// and this php script user.php already used the configservice functions
		// to convert the data to array format
		// , thus we receive array and not json
		// json is stored in database of nc directly
		let initialState = loadState('sharemover', 'user-config');

		// Convert arrays to comma-separated strings
		initialState.mimeTypes = initialState.mimeTypes.join(', ');
		initialState.destinationsReadOnly = initialState.destinationsReadOnly.join(', ');
		initialState.destinations = initialState.destinations.join(', ');

		// return state such that our text fields can use this state
		return {
			state: initialState
		};
	},

	computed: {
	},

	watch: {
	},

	mounted() {
	},

	methods: {
		saveArrays() {
			// Split string values into arrays and filter out empty strings
			const mimeTypesArray = this.state.mimeTypes.split(',').map(item => item.trim()).filter(item => item !== '');
        	const destinationsReadOnlyArray = this.state.destinationsReadOnly.split(',').map(item => item.trim()).filter(item => item !== '');
        	const destinationsArray = this.state.destinations.split(',').map(item => item.trim()).filter(item => item !== '');

			// Check if all arrays have the same length
			if (mimeTypesArray.length !== destinationsReadOnlyArray.length || mimeTypesArray.length !== destinationsArray.length) {
				showError(t('sharemover', 'Error: The number of entries in all fields must be the same.'));
				return;
			}

			// Use json format to store the arrays in the database
			const values = {
				mimeTypes: JSON.stringify(mimeTypesArray),
				destinationsReadOnly: JSON.stringify(destinationsReadOnlyArray),
				destinations: JSON.stringify(destinationsArray)
			};

			// Call saveOptions with the processed arrays
			this.saveOptions(values);
		},
		saveOptions(values, notify = true) {
			const req = {
				values,
			}
			// This generates the url which is used in axios.put to write directly to the nc db
			const url = generateUrl('/apps/sharemover/user-config')
			return axios.put(url, req)
				.then((response) => {
					if (notify) {
						showSuccess(t('sharemover', 'ShareMover user options saved'))
					}
				})
				.catch((error) => {
					showError(
						t('sharemover', 'Failed to save ShareMover user options')
						+ ': ' + error.response?.request?.responseText
					)
				})
		},
	},
}
</script>

<style scoped lang="scss">
#sharemover_user_settings {
	#sharemover-content {
		margin-left: 40px;
	}
}
</style>
